# Dependency directory
node_modules

# Build directory
lib
dist

# Rest pulled from https://github.com/github/gitignore/blob/master/Node.gitignore
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS metadata
.DS_Store
Thumbs.db

README.md
